@media screen and (max-width: 425px) {

    .nav-container,
    .grid-items,
    .play-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-text,
    .banner-img {
        width: 100%;
    }

    .menu-container {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .menu-container a {
        margin-top: 25px;
    }

    .play-text h3 {
        width: 250px;
        margin: 0;
    }

    .play-img {
        width: 100%;
    }

}