@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }

    .menu-container {
flex-direction: column;
    }
    .menu-container a{
        margin-top: 25px;
    }
}