@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* reuseable things*/
.common-text {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0;

}

.p-section {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}







nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.nav-container {

    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {

    display: flex;
    align-items: center;
    width: 50%;
}


.logo-container img {

    width: 86.041px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;

}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.g-section {


    color: #E56AB3;

}

.menu-container {

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    padding: 15px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #0B0223;

}

/* nav designs end here */

.banner-container {

    max-width: 1200px;
    margin: 50px auto ;
 
    display: flex;
    gap: 20px;
}

.banner-text {
    width: 50%;
    margin: 100px auto ;
}

.banner-img {

    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.changing-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    font-weight: 800;
    margin: 0;

}

.btn-primary {

    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFFFFF;
}

.btn-second {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFFFF;
}







/* ========
Online Games 
======== */
.online-games {
    max-width: 1200px;
    margin: 0 auto;
}

.play-text-one {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.grad-color-one{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/*.online-games .grid-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.online-games .grid-items .item {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.online-games .grid-items .item .cover {
    position: relative;
}

.online-games .grid-items .item .cover .watch {
    position: absolute;
}
*/






.online-games .grid-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.online-games .grid-items .item {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.item{
    width: 100%;
    gap: 24px;
}

.thumb{
    width: 100%;
    height: 100%;
   
}


.watch img{
    background-color: black;
}
.online-games .grid-items .item .cover {
    position: relative;
}

.online-games .grid-items .item .cover .watch {
    position: absolute;
}
/*play games anywhere section*/

.play-section {

    background: #FFF;
    padding: 20px 0;

}

.play-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 180px;

    display: flex;
    align-items: center;
}

.play-img {
    width: 50%;
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;


}

.grad-color {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-img img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.play-text h3
{
width: 426px;
color: #0B0223;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}

.play-text {
    width: 50%;
}

.play-number {

    height: 288px;
    width: 248px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25%;
    right: -25%;
    
}





.new-card-div {
    background: #FFF;
}

.five-card {
    width: 1200px;
    margin: 0 auto;
    background: #FFF;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-card .cards .card-items {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-right: 25px;
    background: #FFF;
}








/* footer section design starts here */



footer {

    background-color: #0B0223;
}

.footer-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    margin-top: 50px;
    color: white;
}

.footer-main {

    display: flex;
    justify-content: center;

}

.footer-main .logo-container {
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-container-zero {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-container-zero a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    margin-left: 60px;
    font-weight: 600;

}

/*social icons section*/

.social-icons {
    display: flex;
    justify-content: center;
    font-size: 30px;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {

    background: transparent;
    color: white;
}

.fa-twitter {
    background: transparent;
    color: white;
}

.fa-linkedin {
    background: transparent;
    color: white;
}

.fa-youtube {
    background: transparent;
    color: white;
}

.fa-instagram {
    background: transparent;
    color: white;
}

.fa-google {
    background: transparent;
    color: white;
}

.footer-container a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-left: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.last-footer {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    mar
}