@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* reuseable things*/
.common-text {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0;

}

.p-section {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}







nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {

    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {

    display: flex;
    align-items: center;
    width: 50%;
}


.logo-container img {

    width: 86.041px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;

}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.g-section {


    color: #E56AB3;

}

.menu-container {

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    padding: 15px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #0B0223;

}

/* nav designs end here */

.banner-container {

    max-width: 1200px;
    margin: 50px auto 0;
    min-height: 50px;
    display: flex;
    gap: 20px;
}

.banner-text {
    width: 50%;
}

.banner-img {

    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.changing-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    font-weight: 800;
    margin: 0;

}









/* ========
Online Games 
======== */
.online-games {
    max-width: 1200px;
    margin: 0 auto;
}

.online-games .grid-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.online-games .grid-items .item {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.online-games .grid-items .item .cover {
    position: relative;
}

.online-games .grid-items .item .cover .watch {
    position: absolute;
}

/*play games anywhere section*/

.play-section {

    background: #FFF;
    padding: 20px 0;

}

.play-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 80px;

    display: flex;
    align-items: center;
}

.play-img {
    width: 50%;
    position: relative;


}

.play-img img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.play-text {
    width: 50%;
}

.play-number {

    height: 350px;
    width: 300px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -11%;
    left: 150px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: lightgray -7.209px 0px / 114.78% 100% no-repeat;

}




/* cards section*/

.card-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.card-container .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card-container .cards .card-items {
    display: flex;
    gap: 20px;
    border: 1px solid blueviolet;
    border-radius: 8px;
}





/* footer section design starts here */

footer {

    background-color: #0B0223;
}

.footer-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    margin-top: 50px;
    color: white;
}

.footer-main {

    display: flex;
    justify-content: center;
}

.footer-container {

}

.menu-container a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}